/* [project]/app/globals.css [app-client] (css) */
*, :before, :after, ::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #3b82f680;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

*, :before, :after {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

:before, :after {
  --tw-content: "";
}

html, :host {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
  font-family: Poppins, sans-serif;
  line-height: 1.5;
}

body {
  line-height: inherit;
  margin: 0;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp, pre {
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button, input, optgroup, select, textarea {
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button, select {
  text-transform: none;
}

button, input:where([type="button"]), input:where([type="reset"]), input:where([type="submit"]) {
  -webkit-appearance: button;
  background-color: #0000;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button {
  height: auto;
}

::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol, ul, menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

dialog {
  padding: 0;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}

textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input::placeholder, textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button, [role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img, svg, video, canvas, audio, iframe, embed, object {
  vertical-align: middle;
  display: block;
}

img, video {
  max-width: 100%;
  height: auto;
}

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.inset-0 {
  inset: 0;
}

.-left-\[100px\] {
  left: -100px;
}

.-top-8 {
  top: -2rem;
}

.bottom-8 {
  bottom: 2rem;
}

.left-1\/2 {
  left: 50%;
}

.left-6 {
  left: 1.5rem;
}

.left-\[0px\] {
  left: 0;
}

.left-\[11px\] {
  left: 11px;
}

.left-\[150px\] {
  left: 150px;
}

.left-\[158px\] {
  left: 158px;
}

.left-\[200px\] {
  left: 200px;
}

.left-\[350px\] {
  left: 350px;
}

.left-\[464px\] {
  left: 464px;
}

.left-\[471px\] {
  left: 471px;
}

.left-\[472px\] {
  left: 472px;
}

.left-\[731px\] {
  left: 731px;
}

.left-\[905px\] {
  left: 905px;
}

.top-\[0px\] {
  top: 0;
}

.top-\[100px\] {
  top: 100px;
}

.top-\[13px\] {
  top: 13px;
}

.top-\[17px\] {
  top: 17px;
}

.top-\[265px\] {
  top: 265px;
}

.top-\[289px\] {
  top: 289px;
}

.top-\[350px\] {
  top: 350px;
}

.top-\[500px\] {
  top: 500px;
}

.top-\[569px\] {
  top: 569px;
}

.top-\[594px\] {
  top: 594px;
}

.top-\[610px\] {
  top: 610px;
}

.top-\[862px\] {
  top: 862px;
}

.top-\[10\%\] {
  top: 10%;
}

.top-\[28\%\] {
  top: 28%;
}

.top-\[35\%\] {
  top: 35%;
}

.top-\[50\%\] {
  top: 50%;
}

.right-0 {
  right: 0;
}

.top-0 {
  top: 0;
}

.z-10 {
  z-index: 10;
}

.col-span-1 {
  grid-column: span 1 / span 1;
}

.col-span-2 {
  grid-column: span 2 / span 2;
}

.row-span-1 {
  grid-row: span 1 / span 1;
}

.row-span-2 {
  grid-row: span 2 / span 2;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.-mx-6 {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: .25rem;
}

.mb-12 {
  margin-bottom: 3rem;
}

.mb-2 {
  margin-bottom: .5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.aspect-\[3\/4\] {
  aspect-ratio: 3 / 4;
}

.h-6 {
  height: 1.5rem;
}

.h-\[1101px\] {
  height: 1101px;
}

.h-\[202px\] {
  height: 202px;
}

.h-\[245px\] {
  height: 245px;
}

.h-\[28px\] {
  height: 28px;
}

.h-\[300px\] {
  height: 300px;
}

.h-\[324px\] {
  height: 324px;
}

.h-\[35px\] {
  height: 35px;
}

.h-\[490px\] {
  height: 490px;
}

.h-\[507px\] {
  height: 507px;
}

.h-\[532px\] {
  height: 532px;
}

.h-\[538px\] {
  height: 538px;
}

.h-\[600px\] {
  height: 600px;
}

.h-full {
  height: 100%;
}

.min-h-\[400px\] {
  min-height: 400px;
}

.min-h-screen {
  min-height: 100vh;
}

.w-6 {
  width: 1.5rem;
}

.w-\[240px\] {
  width: 240px;
}

.w-\[244px\] {
  width: 244px;
}

.w-\[318px\] {
  width: 318px;
}

.w-\[354px\] {
  width: 354px;
}

.w-\[360px\] {
  width: 360px;
}

.w-\[361px\] {
  width: 361px;
}

.w-\[431px\] {
  width: 431px;
}

.w-\[600px\] {
  width: 600px;
}

.w-fit {
  width: fit-content;
}

.w-full {
  width: 100%;
}

.w-\[48\%\] {
  width: 48%;
}

.max-w-\[1440px\] {
  max-width: 1440px;
}

.flex-1 {
  flex: 1;
}

.-translate-x-1\/2 {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer {
  cursor: pointer;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.flex-col {
  flex-direction: column;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-12 {
  gap: 3rem;
}

.gap-16 {
  gap: 4rem;
}

.gap-2 {
  gap: .5rem;
}

.gap-24 {
  gap: 6rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-8 {
  gap: 2rem;
}

.overflow-hidden {
  overflow: hidden;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.rounded {
  border-radius: .25rem;
}

.rounded-\[16px\] {
  border-radius: 16px;
}

.rounded-\[20px\] {
  border-radius: 20px;
}

.rounded-l-profile {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

.bg-background {
  --tw-bg-opacity: 1;
  background-color: rgb(241 240 237 / var(--tw-bg-opacity, 1));
}

.bg-black\/20 {
  background-color: #0003;
}

.bg-hero-bg {
  --tw-bg-opacity: 1;
  background-color: rgb(26 26 26 / var(--tw-bg-opacity, 1));
}

.bg-text-dark {
  --tw-bg-opacity: 1;
  background-color: rgb(28 33 34 / var(--tw-bg-opacity, 1));
}

.object-contain {
  -o-object-fit: contain;
  object-fit: contain;
}

.object-cover {
  -o-object-fit: cover;
  object-fit: cover;
}

.object-left {
  -o-object-position: left;
  object-position: left;
}

.object-top {
  -o-object-position: top;
  object-position: top;
}

.px-2 {
  padding-left: .5rem;
  padding-right: .5rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-1 {
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.py-24 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.pb-12 {
  padding-bottom: 3rem;
}

.pb-32 {
  padding-bottom: 8rem;
}

.pt-24 {
  padding-top: 6rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pb-\[97px\] {
  padding-bottom: 97px;
}

.font-sans {
  font-family: Poppins, sans-serif;
}

.font-serif {
  font-family: Noto Serif, serif;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: .875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-xs {
  font-size: .75rem;
  line-height: 1rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.leading-relaxed {
  line-height: 1.625;
}

.text-text-dark {
  --tw-text-opacity: 1;
  color: rgb(28 33 34 / var(--tw-text-opacity, 1));
}

.text-text-dark-alt {
  --tw-text-opacity: 1;
  color: rgb(26 27 28 / var(--tw-text-opacity, 1));
}

.text-text-light {
  --tw-text-opacity: 1;
  color: rgb(205 205 205 / var(--tw-text-opacity, 1));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.opacity-40 {
  opacity: .4;
}

.opacity-50 {
  opacity: .5;
}

.opacity-60 {
  opacity: .6;
}

.transition-colors {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

html {
  scroll-behavior: smooth;
}

body {
  color: #1c2122;
  background-color: #f1f0ed;
  font-family: Poppins, sans-serif;
}

.gradient-blur-1 {
  filter: blur(60px);
  background: radial-gradient(#64b4ff4d 0%, #0000 70%);
}

.gradient-blur-2 {
  filter: blur(80px);
  background: radial-gradient(#b464ff40 0%, #0000 70%);
}

.gradient-blur-3 {
  filter: blur(50px);
  mix-blend-mode: hard-light;
  background: radial-gradient(#ff96c833 0%, #0000 70%);
}

.gradient-blur-4 {
  filter: blur(70px);
  background: radial-gradient(#64c8ff4d 0%, #0000 70%);
}

.section-heading {
  color: #1c2122;
  font-family: Noto Serif, serif;
  font-size: 80px;
  font-weight: 500;
  line-height: 1;
}

@media (max-width: 1024px) {
  .section-heading {
    font-size: 56px;
  }
}

@media (max-width: 640px) {
  .section-heading {
    font-size: 40px;
  }
}

.group:hover .group-hover\:text-text-dark-alt {
  --tw-text-opacity: 1;
  color: rgb(26 27 28 / var(--tw-text-opacity, 1));
}

@media (min-width: 640px) {
  .sm\:h-\[400px\] {
    height: 400px;
  }
}

@media (min-width: 768px) {
  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .lg\:absolute {
    position: absolute;
  }

  .lg\:bottom-\[97px\] {
    bottom: 97px;
  }

  .lg\:left-\[101px\] {
    left: 101px;
  }

  .lg\:right-0 {
    right: 0;
  }

  .lg\:top-0 {
    top: 0;
  }

  .lg\:mb-0 {
    margin-bottom: 0;
  }

  .lg\:mb-10 {
    margin-bottom: 2.5rem;
  }

  .lg\:mb-12 {
    margin-bottom: 3rem;
  }

  .lg\:mb-\[144px\] {
    margin-bottom: 144px;
  }

  .lg\:mb-\[152px\] {
    margin-bottom: 152px;
  }

  .lg\:mb-\[163px\] {
    margin-bottom: 163px;
  }

  .lg\:mb-\[226px\] {
    margin-bottom: 226px;
  }

  .lg\:block {
    display: block;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:h-8 {
    height: 2rem;
  }

  .lg\:h-\[1033px\] {
    height: 1033px;
  }

  .lg\:h-\[33px\] {
    height: 33px;
  }

  .lg\:h-\[615px\] {
    height: 615px;
  }

  .lg\:h-full {
    height: 100%;
  }

  .lg\:min-h-0 {
    min-height: 0;
  }

  .lg\:w-8 {
    width: 2rem;
  }

  .lg\:w-\[400px\] {
    width: 400px;
  }

  .lg\:w-\[436px\] {
    width: 436px;
  }

  .lg\:w-\[608px\] {
    width: 608px;
  }

  .lg\:w-\[689px\] {
    width: 689px;
  }

  .lg\:w-\[780px\] {
    width: 780px;
  }

  .lg\:w-\[50\%\] {
    width: 50%;
  }

  .lg\:max-w-\[608px\] {
    max-width: 608px;
  }

  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:items-center {
    align-items: center;
  }

  .lg\:gap-10 {
    gap: 2.5rem;
  }

  .lg\:gap-8 {
    gap: 2rem;
  }

  .lg\:gap-\[120px\] {
    gap: 120px;
  }

  .lg\:gap-\[126px\] {
    gap: 126px;
  }

  .lg\:gap-\[150px\] {
    gap: 150px;
  }

  .lg\:gap-\[60px\] {
    gap: 60px;
  }

  .lg\:gap-\[84px\] {
    gap: 84px;
  }

  .lg\:rounded-\[24px\] {
    border-radius: 24px;
  }

  .lg\:rounded-profile {
    border-radius: 40px;
  }

  .lg\:px-\[100px\] {
    padding-left: 100px;
    padding-right: 100px;
  }

  .lg\:py-32 {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .lg\:pb-0 {
    padding-bottom: 0;
  }

  .lg\:pb-48 {
    padding-bottom: 12rem;
  }

  .lg\:pt-0 {
    padding-top: 0;
  }

  .lg\:pb-\[97px\] {
    padding-bottom: 97px;
  }

  .lg\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .lg\:text-\[28px\] {
    font-size: 28px;
  }

  .lg\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .lg\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

/*# sourceMappingURL=app_globals_71f961d1.css.map*/